/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbarDesktop {
        display: none;
    }
    .menuContainer {
        position: relative;
        margin: 1em;
    } 
    .menuItems {
        position: absolute;
        top: 65px;
    }
    .navbaroo {
        background-color: #182430;
    }
    .eg {
        color: white;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbarMobile {
        display: none;
    }
    .eg {
        color: white;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbarMobile {
        display: none;
    }
    .navbaroo {
        background-color: #182430;
    }
    .eg {
        color: white;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

