@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App-header {
    background-color: #282c34;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .landingText {
    font-size: 48px;
    font-weight: 700;
    padding-top: 20%;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 12%;
  }
  .supportingText {
    font-size: 24px;
    font-weight: 700;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 12%;
  }
  .bio {
    margin: 1em;
  }
  .socialsContainer {
    background-color: #425465;
  }
  .socials {
    display: flex;
    flex-wrap: wrap;
    max-width: 15em;
    margin: auto;
  }
  .socialsItem {
    flex: 1;
    margin: .5em;
  }

  .contentSection {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
  }

  .quoteContainer {
    margin: 2em;
  }

  .booksContainer {
    margin: 2em;
  }

  .quoteSection {
    margin-top: 2em;
  }

  .bookSection {
    margin-top: 2em;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App-header {
    background-color: #182430;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .landingText {
    font-size: 96px;
    font-weight: 700;
    margin-left: 12%;
    margin-right: 12%;
  }
  .supportingText {
    font-size: 24px;
    font-weight: 700;
    margin-left: 12%;
    margin-right: 12%;
  }
  .socialsContainer {
    background-color: #425465;
  }
  .socials {
    display: flex;
    flex-wrap: wrap;
    max-width: 20em;
    margin: auto;
  }
  .socialsItem {
    flex: 1;
    margin: 1em;
  }

  .contentSection {
    margin-top: 8em;
    margin-bottom: 8em;
  }

  .quoteContainer {
    margin: 5em;
  }

  .booksContainer {
    margin: 5em;
  }

  .quoteSection {
    margin-top: 2em;
  }

  .bookSection {
    margin-top: 2em;
  }
}